* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #0e6cff;
}
body {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  margin: auto;
  width: 100%;
  line-height: 1.6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px -2px rgba(0, 0, 0, 0.25);
}
body::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}
.header {
  padding: 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 10vh;
  background-color: #17141d;
  z-index: 40;
  box-shadow: 5px 4px 10px var(--primary-color);
}
.navbar h2 {
  font-size: 1.7rem;
  color: var(--primary-color);
  margin-left: 50px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar h2 span {
  font-size: 50px;
  padding-right: 10px;
  border-radius: 50%;
  padding: 0px 5px;
  margin-right: 5px;
  cursor: pointer;
}
.unordered-navs ul {
  display: flex;
  list-style: none;
}
.unordered-navs ul li {
  margin-right: 30px;
  text-transform: capitalize;
  font-size: 1.6em;
}
.unordered-navs ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding: 5px 15px;
}
.unordered-navs ul li a:hover {
  border: 2px dotted var(--primary-color);
}
.content-upper {
  color: var(--primary-color);
  height: 70vh;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.content-upper img {
  width: 400px;
  z-index: 1;
}
.heading-title-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 40px;
}
.heading-title-about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 900;
  z-index: 2;
}

.more-about-title {
  font-size: 1.6em;
  opacity: 1;
  font-weight: 700;
  z-index: 2;
}
.download-heading h1 {
  font-size: 2rem;
  text-align: center;
  margin: 30px auto;
  padding-bottom: 10px;
  color: #fff;
  border-bottom: 2px solid var(--primary-color);
}
.logo img {
  height: 70px;
  width: 70px;
  padding-bottom: 5px;
  border-bottom: 1px solid #111;
}

.softwares-grid {
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 2px solid var(--primary-color);
}
.card {
  width: 270px;
  height: 500px;
  padding: 20px 10px;
  /* background: #fff; */
  border: 1px solid #111;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  box-shadow: 5px 4px 10px var(--primary-color);
  margin-bottom: 30px;
}
.card p {
  font-size: 20px;
  text-align: center;
}
.card a {
  text-decoration: none;
  color: var(--primary-color);
}
.download-ide {
  margin: 80px auto;
  background: var(--primary-color);
  border-radius: 10px;
  padding: 10px 0;
  text-align: center;
}
.download-ide a {
  color: #fff;
  text-decoration: none;
}
.python-files {
  background: var(--primary-color);
  border-radius: 10px;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 30px;
}
.python-ide {
  padding: 10px 0;
  background: var(--primary-color);
  border-radius: 10px;
  text-align: center;
}
.python-files a {
  color: #fff;
  text-align: center;
}
.python-ide a {
  color: #fff;
  text-align: center;
}
.title h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 20px;
}
.about-us {
  padding: 20px;
  color: #fff;
  line-height: 1.6;
  border-bottom: 1px solid var(--primary-color);
}
.about-us h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--primary-color);
}
.about-us p {
  text-align: center;
  padding: 5px;
}
#footer {
  margin: 20px auto;
  text-align: center;
}
#footer p {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 300;
}

@media (max-width: 800px) {
  .card {
    width: 70%;
  }
  .navbar {
    flex-direction: column;
    height: 22vh;
    margin: auto;
  }
  .content-upper {
    height: 120vh;
    flex-direction: column;
    text-align: center;
  }
  .content-upper img {
    display: none;
  }
}
