* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(44, 20, 202);
}
body {
  background-color: rgba(0, 0, 0, 0.9);
  margin: auto;
  width: 100%;
  line-height: 1.6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header {
  padding: 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 10vh;
  background-color: #fff;
  z-index: 10;
}
.navbar h2 {
  font-size: 1.7rem;
  color: var(--primary-color);
  margin-left: 50px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar h2 span {
  font-size: 50px;
  padding-right: 10px;
  border-radius: 50%;
  padding: 0px 5px;
  margin-right: 5px;
  cursor: pointer;
}
.unordered-navs ul {
  display: flex;
  list-style: none;
}
.unordered-navs ul li {
  margin-right: 30px;
  text-transform: capitalize;
  font-size: 1.6em;
}
.unordered-navs ul li a {
  text-decoration: none;
  color: #000;
  padding: 5px 15px;
}
.unordered-navs ul li a:hover {
  border: 2px dotted var(--primary-color);
}
.content-upper {
  background-color: rgb(133, 128, 128, 0.5);
  color: #111;
  height: 70vh;
  margin-top: 20px;
  background: url(./images/people.jpg) no-repeat center;
  background-size: cover;
  border-radius: 3px;
  opacity: 0.1;
}
.heading-title-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: inherit;
  flex-wrap: wrap;
}
.heading-title-about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 900;
}
.more-about-title {
  font-size: 1.6em;
  opacity: 1;
  font-weight: 700;
}
.download-heading h1 {
  font-size: 2rem;
  text-align: center;
  margin: 30px auto;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--primary-color);
}
.logo img {
  height: 70px;
  width: 70px;
}

.softwares-grid {
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.card {
  width: 270px;
  height: 450px;
  padding: 20px 10px;
  background: #fff;
  border: 1px solid #111;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  box-shadow: 0px 5px 8px var(--primary-color);
}
.download-vs-code {
  margin: 30px auto;
  background: var(--primary-color);
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
}
.download-vs-code a {
  color: #fff;
  text-decoration: none;
}
